body {
    margin: 15px 10px;
    background-color: #eee
  }
  #header-img {
    float: left;
    width: 100px;
    height: 100px;
    margin-top: 15px;
    
  }
  h1 {
    position: relative;
    top: 10px;
    font-size: 40px;
    color: green;
  }
  #nav-bar {
    float: right;
    margin-top: -30px;
    font-size: 20px;
  }
  .nav-link {
    margin: 40px;
    text-decoration: none;
    color: green;
  }
  a:hover {
    color: blue;
  }
  @media screen and (max-width: 800px) {
    #header {
  position: fixed;
    float: left;
    background-color: #eee;
    margin-top: -20px;
    z-index: 10;
    }
  }
  #header {
  position: fixed;
    width: 100%;
    background-color: #eee;
    margin-top: -20px;
    z-index: 10;
    
  }
  #form {
    display: block;
    padding-top: 100px;
    text-align: center;
  }
  #email {
    width: 300px;
    height: 20px;
    margin-bottom: 10px;
  }
  #submit {
    width: 200px;
    height: 30px;
    border: 0;
    border-radius: 5px;
    background-color: orange;
    font-weight: bold;
  }
  
  #start {
    font-size: 20px;
    margin-bottom: 10px;
  }
  h2 {
    margin-left: 44%;
    font-size: 40px;
    display: inline-block;
    margin-top: 100px;
  }
  #description {
    display: inline-block;
    text-align: justify;
    font-size: 30px;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 10px;
    background-color: rgb(100, 255, 100, 0.5);
    border-radius: 10px;
    padding: 50px;
    padding-top: 30px;
  }
 
  h3 {
    text-align: center;
    font-size: 40px;
    display: inline-block;
  }
  #sencha {
    border: 3px solid green;
    width: 400px;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    height: 330px;
  }
  h4 {
    font-size: 25px;
    text-align: center;
    background-color: rgb(225,225,225,0.8);
    margin-top: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: auto;
  }
  .price-tag {
    font-size: 30px;
    font-weight: bold;
  }
  .padded-multiline p {
    padding: 3px;
  }
  .padded-multiline{
      margin: auto 30px auto 30px;
  }
  #buy-sencha {
    padding: 5px;
    margin-bottom: 5px;
    width: 100px;
    background-color: orange;
    border: 2px solid blue;
    border-radius: 5px;
  }
  #matcha {
    border: 3px solid green;
    width: 400px;
    text-align: center;
    font-size: 20px;
    display: inline-block;
    vertical-align: top;
    height: 330px;
    margin: o auto;
    flex-wrap: wrap;
  }
  h5 {
    font-size: 25px;
    text-align: center;
    background-color: rgb(225,225,225,0.8);
    margin-top: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: auto;
    
  }
  #buy-matcha {
    padding: 5px;
    margin-bottom: 5px;
    width: 100px;
    background-color: orange;
    border: 2px solid blue;
    border-radius: 5px;
  }
  #hojicha {
    display: inline-block;
    border: 3px solid green;
    text-align: center;
    height: 330px;
    font-size: 20px;
    width: 400px;
    flex-wrap: wrap;
  }
  h6 {
    font-size: 25px;
    background-color: rgba(225,225,225,0.8);
    margin-top: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
  }
  #buy-hojicha {
    padding: 5px;
    margin-bottom: 5px;
    width: 100px;
    background-color: orange;
    border: 2px solid blue;
    border-radius: 5px;
  }
  .space {
    text-align: center;
    margin: 0px 70px;
    font-size: 40px;
  }
  #leaf-logo {
    width: 50px;
    height: 50px;
    padding-top: 0px;
    float: left;
    display: block;
    margin: 0 30px;
    margin-right: 100px;
    padding-bottom: -20px;
  }
  h7 {
    font-size: 30px;
    font-weight: bold;
    padding-top: 50px;
  }
  .product-main {
    font-size: 20px;
    margin: 0;
    margin-right: 23%;
  }
  #product1 {
    margin-left: 18%;
    margin-bottom: 50px;
  }
  #product2 {
    margin-left: 20%;
    margin-bottom: 50px;
    margin-top: 10px;
  }
  #leaf-logo2 {
    width: 50px;
    height: 50px;
    padding-top: 10px;
    float: left;
    display: block;
    margin: 0 0px;
    margin-right: 100px;
  }
  h8 {
    font-size: 30px;
    font-weight: bold;
  }
  #brew {
    width: 50px;
    height: 50px;
    padding-top: 10px;
    float: left;
    display: block;
    margin: 0 0px;
    margin-right: 100px;
    margin-bottom: 0px;
  }
  #product3 {
    margin-left: 20%;
    margin-bottom: 80px;
    margin-top: 10px;
  }
  h9 {
    font-size: 30px;
    font-weight: bold;
  }
  #price {
    margin-top: 500px;
    text-align: center;
    
  }
  #video {
    display: block;
    margin: 30px 2%;
    position: absolute;
    z-index: 9;
    padding: 0;
  }
  iframe {
    padding-bottom: 0px;
  }
  h10 {
    margin-left: 43%;
    font-size: 40px;
    display: inline-block;
    margin-top: 20px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  .flexbox {
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
  }
  @media (max-width: 800px) {
  .flexbox {
      flex-direction: column;
    }
  }